body{
    width: 100%;
    text-align: center;
    background-image: url("back.jpg");
    background-position: center;
    background-size: cover;
}
.container{
    width: 100%;
    padding: 0;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, minmax(30px, auto));
    grid-template-areas:
    "one one one one "
    "two two two two "
    "header header header header"
    "three three three three"
    "four four four four"
    "five five five five"
    "six six six six";
}
.container div{
    background: #bbb;
    width: 100%;
}
.one{
    grid-area: one;
}
.two{
    grid-area: two;
    background-image: url("banner2.jpg")!important;
    height: 270px;
    background-size: cover !important;
    background-repeat: no-repeat;
    background-position: center;
}
.three{
    grid-area: three;
    background-color: #92B8FF !important;

}
.four{
    grid-area: four;
    background: #92B8FF !important;
    position: relative;
}
.five{
    grid-area: five;
    background: url("afew.jpg") !important;
    height: 225px;
    background-size: cover !important;
    background-repeat: no-repeat;
    background-position: center;
}
.six{
    grid-area: six;
    background: #555 !important;
    color: white;
}
.header{
  grid-area: header;
  background: #5086c1 !important;
}
.header h1{
  color: white;
  font-size: 60px;
  font-family: "Eater";
}
.header h2{
  color: white;
  font-size: 30px;
  font-family: "Eater";
}
.icon-bar {
    width: 100%;
    background-color: #555 !important;
}
.icon-bar a {
    float: right;
    width: 30%;
    height: 90px;
    padding: 12px 0;
    transition: all 0.9s ease;
    color: white;
}
.icon-bar a:hover {
    background-color: #92B8FF;
}
.logo{
    float: left !important;
}
.logo:hover{
  background-color: #555 !important;
}
.menu{
    background: #3B6DCC;
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
}
.logo img{
    width: 30%;
    height: 70px;
    padding: 0px 0;
}
.canvasbtn {
    display: inline-block;
    border-radius: 4px;
    background-color: #3766BD;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 15px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    position: absolute;
    left: 30%;
    bottom: 20%;
    margin: 5px;
    width: 40%;
    opacity: 1;
  }

  #myCanvas{
    width: 100%;
    height: 900px;
    background-image: url("backimage.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
 @media only screen and (min-width: 992px) {
   .canvasbtn{
     opacity: 0.6;
   }
   .canvasbtn:hover{
     opacity: 1;
     transition: 1s;
   }
   .container{
     height: 100%;
     width: 100%;
   }
    .one{
      grid-column: 1/-1;
      grid-row: 1;
    }
    #two{
        grid-column: 1;
        grid-row: 2/-2;
        background-image: url("pot1.gif") !important;
        background-position: center;
        background-size: cover !important;
        height: 950px;
    }
    .header{
      grid-column: 2/4;
      grid-row: 2;
    }
    .three{
        grid-column: 2/4;
        grid-row: 3;
        padding: 15px;
        height: 120px;

    }
    .three a{
      cursor: pointer;
      height:50px;
      width: 90px;
      background-color: #5086c1;
      padding: 12px;
      color: white;
      font-weight: bold;
      font-style: italic;

    }
    .four{
        grid-column: 2/4;
        position: relative;
        height: 599px;
    }
    .five{
        grid-column: 4;
        grid-row: 2/-2;
        background-image: url("pot2.gif") !important;
        background-size: cover !important;
        background-position: center;
        height: 950px;
    }
    .six{
        grid-column: 1/-1;
        grid-row: 7;
        padding: 15px 0;
    }
    #myCanvas{
      width: 100%;
      height: 630px;
      background-image: url("backimage.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
