body{
    width: 99%;
    text-align: center;
    background-image: url("back.jpg");
    background-position: center;
    background-size: cover;
}
.container{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, minmax(200px, auto;));
  grid-gap: 5px;
}
.container div{
  background: #ccc;
}
/* THis is styling for the head*/
.head{
  grid-column: 1/-1;
  grid-row: 1;
}
.head img{
}
.icon-bar {
    background-color: #555 !important;
}
.logo:hover{
  background: #555 !important;
}
.menu{
    float: right;
    background: #3B6DCC;
    float: right;
    width: 30%;
    height: 70px;
    padding: 12px;
    transition: all 0.9s ease;
    color: white;
    font-size: 30px;
}
.logo{
    float: left !important;
    width:30%;
}
.logo img{
    width: 20%;
    height: 30px;
}
.icon-bar a:hover {
    background-color: #92B8FF;
}
.adv1{
  grid-column: 1/-1;
  grid-row: 2;
}
.adv1 img{
  width: 100%;
}
.text1{
  grid-column: 1/-1;
  grid-row: 3;
}
.main{
  grid-column: 1/-1;
  grid-row: 4;
}
/* Play button styling */
.canvasbtn {
    display: inline-block;
    border-radius: 4px;
    background-color: #3766BD;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    top: 140%;
    left: 30%;
    position: absolute;
    width: 40%;
    opacity: 0.5;
  }
  .canvasbtn:hover{
    opacity: 1;
    transition: 1s;
  }
  /* Second advert */
.adv2{
  grid-column: 1/-1;
  grid-row: 5;
}
.adv2 img{
  width: 100%;
}
.footer{
  grid-row: 6;
  grid-column: 1/-1;
}
